.header{
    width: 100%;
    padding: 20px 0px;
    background: #000;
}
.srch{
    padding-left: 20px;
   height: 50px;
    width: 580px;
    border-radius: 10px;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.srch-main{
    margin-left: 35px;
    position: relative;
}
img{
    
    width: 120px;
}

.srch-icon{
    position: absolute;
    top: 13px;
    left: 550px;
    color: rgb(0, 0, 0);
}
.icn{
    color: red;
    font-size: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    
}
.content1 h1{
    color:white;
    font-size: 15px;
    margin-bottom: -2px;
}
.content1 p{
font-size: 12px;
color: gray;
}
.offers1{
    margin-left: -40px;
    margin-right: 30px;
}

.h-btn{
   
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 19px;
    right: 312px;


}
.h-btn:hover{
    color: #fff;
    background-image: linear-gradient(blue, skyblue);
}
.content1 a{
     font-size: 12px;
    color: gray;
    text-decoration: none;
}
.content1 h2{
    font-size: 12px;
    margin-top: 2px;
    color: gray;
}